<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{{ url_for('static', filename='css/style.css') }}"rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Sofia" rel="stylesheet">
	<title>GrandPy Bot</title>
</head>
<body>
<div class="box container">
	<div class="box logo">
		<img class="picture_logo" src="static/image/papybot.png">
		<a color="black" href="http://localhost:5000/"><h2>ACCUEIL</h2></a>	
	</div>
	<header class="box header">
		<h1>"Je pense qu'il est temps que tu saches ce qu'il s'est réellement passé. Tout commença, il y a fort longtemps, dans une lointaine contrée à l'est. Une contrée comme on en trouve pas dans le monde d'aujourd'hui."</h1>
	</header>
	
	
	{% block content%}
	{% endblock%}
	</div>
</div>
</body>
	<footer class="box footer">
		<h5>Pierre-Nicolas Schleicher</h5>
		<a href="https://github.com/SyriusNico/P7_GrandPy_Bot.git">Github</a>
	</footer>
</div>
</html>
