<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<link href="{{ url_for('static', filename='css/style.css') }}"rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Sofia" rel="stylesheet">
	<title>GrandPy Bot</title>
</head>
<body>
	<div class="navbar">
		<div class="box logo">
			<img class="picture_logo" src="static/image/papybot.png">
			<img class="picture_papy" id="papy" src="static/image/grandpa.png">
		</div>
  		<a href="https://my-grandpy-robot.herokuapp.com/" id="home"><p>ACCUEIL</p></a>
	</div>
	<!-- block used for grid -->
	<div class="box container">
		<header class="box header">
			<h2>"Salut pose moi ta question je vais essayer d'y répondre"</h2>
		</header>
		{% block content%}
		{% endblock%}
		<div class="card">
			<img class="picture_logo" src="static/image/grandpa.png">
			<h2>L'endroit que tu cherches se trouve ici :</h2>
			<div id="map"></div>
		</div>
		<footer class="box footer">
			<h2>Pierre-Nicolas Schleicher</h2>
			<a href="https://github.com/SyriusNico/P7_GrandPy_Bot.git">Github</a>
		</footer>
	</div>
</div>
<!-- some scripts to use jQuery and google api's -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/script.js')}}"></script>
<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBOEx1K3m9nOvgS0UcG_fapvRrVvSWqmxk&callback=initMap"></script>
</body>
</html>
