{% extends 'base.html' %}
		  	
{% block content %}
	<!-- contains the field to ask a question and the answer of papyBot -->
	<div class="box content">
		<div class="query">
			<form id="query--form" action="">
				<p>
					<label for="question"><h1>Que voulais-tu me demander ?</h1></label>
					<input type="text" name="question" id="questionInput" size="40" placeholder="Pose ta question ici">
					<input type="submit" value="valider" id='validate'>
				</p>
			</form>	
		</div>
		<div class="result"></div>
	</div>
{% endblock %}