{% extends 'base.html' %}
	  	
	{% block content %}

	</div class="container">
	<!-- caroussel here -->

	<!-- granny quote -->
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="jumbotron">
					<blockquote class="blockquote text-center">
						<p class="h1" class="text-center">Bonjour ti doudou à mamie, qu'est-ce que je peux faire pour toi ?</p>
					</blockquote>
				</div>
			</div>
		</div>
		<!-- user ask a question --> 
	  	<div class="row">
			<div class="col">
		  		<form>
		  			<div class="form-group">
    					<label for="exampleFormControlTextarea1">Pose ta question ici mon p'ti bichon</label>
    					<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  					</div>
		  		</form>
			</div>
	  	</div>


	{% endblock %}